# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.WaterfurnaceSymphonyCloudConnected.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Daniel Berlin\RiderProjects\WaterfurnaceSymphonyCloudConnected\.idea\.idea.WaterfurnaceSymphonyCloudConnected\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
